<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--
    将需求编程代码
    第一部分
        1。绘制出一个表格，蛇一节一节（火车的组成）每一个格子15个长度 30个格子（游戏面板大小）450*450
        2。第一行绘制出一条蛇，（初始长度6节，占6个单元格）
        3。在游戏面板中央画出食物
    第二部分
        1。跟着键盘上下左右调整方向，并且可以移动
        2。让蛇的身体跟着蛇头一起运动
    第三部分
        1。蛇吃到食物
        2。身体自动增长
        3。随机产生一个新的食物
    终章
        完善游戏规则，自动运动，游戏结束标准，记分，难度级别


 -->

<canvas id="game" width="450" height="450" style="border:1px solid red; margin: 30px auto; display: block"></canvas>

<script src="js/snake.js"></script>
</body>
</html>