<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>主播开播界面</title>
</head>
<body>

<video src="" autoplay id="vi" style="width:640px;height: 480px;"></video>
<!-- webrtc -->
<canvas id="output" style="display: none"></canvas>
<script type="text/javascript">
    var back = document.getElementById("output");
    var backContext = document.getElementById("output").getContext("2d");
    var video = document.getElementById("vi");

    var interval; //定时器

    var socket ;

    var success = function(stream) {
        video.src = window.URL.createObjectURL(stream);
    };

    setTimeout("init()", 100);

    function init() {
        //需要浏览器支持
        //建立websocket服务
        socket = new WebSocket("ws://localhost:8080/onlineServer");
        socket.onopen = onOpen;
        socket.onclose = onClose ;
    }
    function onOpen() {
        //定时传输数据到服务器
        clearInterval( interval);
        interval = setInterval(function () {
            draw()
        }, 50);
    }

    function onClose() {
        init();
    }

    function draw() {

        backContext.drawImage(video, 0, 0, back.width, back.height);
        //将视频的图像50%的像素发送出去
        socket.send(back.toDataURL("image/jpeg", 1));
        //js bom模型

    }

    navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia;
    //audio 设置成false 去掉重音
    navigator.getUserMedia({video:true, audio:false}, success,console.log);


</script>

</body>
</html>